.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(92, 84, 84, 0.3);
}

.box {
width: 200px;
height: 200px;
border-radius: 50%;
background: #313131;
border: 4px solid #b5b5b5;
position: relative;
overflow: hidden;
}

.first-box {
width: 90%;
height: 90%;
border-radius: 50%;
background: #8d2412;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
filter: drop-shadow(0 0 10px);
z-index: 200;
overflow: hidden;
}

.second-box {
width: 100%;
height: 100%;
border-radius: 50%;
position: absolute;
filter: drop-shadow(0 0 10px);
z-index: 1000;
opacity: 0.5;
top: -1%;
border: 85px solid transparent;
border-top: 90px solid rgb(255, 131, 2);
border-bottom: 90px solid rgb(255, 131, 2);
animation: anim 4s linear infinite;
}

.third-box {
width: 80%;
height: 80%;
border-radius: 50%;
background: #ad2914;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
filter: drop-shadow(0 0 10px);
z-index: 300;
}

.fourth-box {
width: 70%;
height: 70%;
border-radius: 50%;
background: #b25647;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
filter: drop-shadow(0 0 10px);
z-index: 400;
}

.fifth-box {
width: 70%;
height: 70%;
border-radius: 50%;
background: #ae2a15;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
filter: drop-shadow(0 0 10px);
z-index: 500;
}

@keyframes anim {
0% {
  transform: rotate(25deg);
  animation-timing-function: ease-out;
}

12.5% {
  transform: rotate(-25deg);
  animation-timing-function: ease-in;
}

25% {
  transform: rotate(65deg);
  animation-timing-function: ease-out;
}

37.5% {
  transform: rotate(-65deg);
  animation-timing-function: ease-in;
}

50% {
  transform: rotate(90deg);
  animation-timing-function: ease-out;
}

62.5% {
  transform: rotate(-90deg);
  animation-timing-function: ease-in;
}

75% {
  transform: rotate(120deg);
  animation-timing-function: ease-out;
}

87.5% {
  transform: rotate(-180deg);
  animation-timing-function: ease-in;
}

100% {
  transform: rotate(25deg);
}
}